<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Test01WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>WelcomeServlet</servlet-name>
    <servlet-class>WelcomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet</servlet-name>
    <url-pattern>/WelcomeServlet</url-pattern>
    <url-pattern>/NewWelcomeServlet</url-pattern>
    <url-pattern>/TestWelcomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GreetingServlet</servlet-name>
    <servlet-class>GreetingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GreetingServlet</servlet-name>
    <url-pattern>/GreetingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculatorServlet</display-name>
    <servlet-name>CalculatorServlet</servlet-name>
    <servlet-class>CalculatorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculatorServlet</servlet-name>
    <url-pattern>/CalculatorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FirstSessionServlet</display-name>
    <servlet-name>FirstSessionServlet</servlet-name>
    <servlet-class>FirstSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstSessionServlet</servlet-name>
    <url-pattern>/FirstSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondSessionServlet</display-name>
    <servlet-name>SecondSessionServlet</servlet-name>
    <servlet-class>SecondSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondSessionServlet</servlet-name>
    <url-pattern>/SecondSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InitParamServletDemo01</servlet-name>
    <servlet-class>InitParamServletDemo01</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.mysql.cj.jdbc.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServletDemo01</servlet-name>
    <url-pattern>/InitParamServletDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitParamServletDemo02</display-name>
    <servlet-name>InitParamServletDemo02</servlet-name>
    <servlet-class>InitParamServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitParamServletDemo02</servlet-name>
    <url-pattern>/InitParamServletDemo02</url-pattern>
  </servlet-mapping>
  
  
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>